@page "/readings"
@inject SharpHomeServer.Data.IReadingProvider provider;

<h1>Available Readings</h1>

<ul>
    @foreach (var reading in readings)
    {
        <li>@reading</li>
    }
</ul>

@code {
    List<string> readings;

    protected override async Task OnInitializedAsync()
    {
        readings = await provider.GetReadingTypesAsync();
    }
}
}
